.body{
	height: 95vh;
	overflow-y: hidden;
}

.wrapper{
	display: flex;
}

.column {
	height: 95vh;
	width: 100vw;
}

.cat1{
	width: 40vw;
}
 
.radar{
	height: 40vw;
	width: 40vw;

	background: black;
}

.myentity{
	height: 8px;
	width: 8px;
	background-color: greenyellow;
	position: relative;
	top: 19.5vw;
	left: 19.5vw;
}

.entity{
	height: 8px;
	width: 8px;
	background-color: wheat;
	position: absolute
}

/* .info{

} */

.cat2{
	background:ghostwhite;
}

.chat{
	height:95%;
	overflow-y:auto;
}
 
.chat-sender{
	color:#ffffff;
}

.§0{
color: black
}.§1{
color: #0000AA
}.§2{
color: #00AA00	
}.§3{
color: #00AAAA
}.§4{
color: #AA0000
}.§5{
color: #AA00AA
}.§6{
color: #FFAA00
}.§7{
color: #AAAAAA	
}.§8{
color: #555555
}.§9{
color: #5555FF
}.§a{
color: #55FF55
}.§b{
color: #55FFFF	
}.§c{
color: #FF5555	
}.§d{
color: #FF55FF
}.§e{
color: #eeee56	
}.§f{
color: black
}

.§l{
	font-weight: bold
}.§o{
	font-style: italic
}.§n{
	text-decoration: underline
}.§m{
	text-decoration: line-through
}.§k{
	text-decoration: none
}

